@import url("fonts.css");

html {
    font-family: Poppins, sans-serif;
}

:root {
    --gray-scale-gray-–-900: #1a1a1a;
    --branding-success: #00b207;
    --gray-scale-white: #fff;

}

.wrapper {
    overflow: clip;
    min-height: 100%;
}

div[class*="__container"] {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* #region common */

.title {
    color: var(--gray-scale-gray-–-900);
    font-weight: 600;
    font-size: 40px;
}

.subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: var(--gray-scale-gray-–-900);
}

.button {
font-family: inherit;
font-weight: 600;
font-size: 16px;
line-height: 120%;
color: var(--gray-scale-white);
border-radius: 43px;
padding: 16px 40px;

background-color: var(--branding-success);
}

.main-title {
    display: none;
}

.advantage__title {
    display: none;
}

.item-profit__delivery {
    width: 72px;
    height: 72px;
    background-image: url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.item-profit__image {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item-profit:nth-of-type(3) {
    background-image: url(../img/background-green.webp);
    background-repeat: no-repeat;
}

.store__icon {
    background-color: var(--branding-success);
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.store__subtitle {
    padding-left: 8px;
    display: inline-block;
}

.store__item > p {
    padding-left: 34px;
}

.store__button-store {
    width: 192px;
    height: 51px;
}


/* #endregion common */

/* #region header */

/* #endregion header */

/* #region hero */


/* #endregion hero */

/* #region advantage */

/* #endregion advantage */

/* #region second */


/* #endregion second */
